@import url("index.css");
@import url(retroceso.css);
.page-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;

  background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
  border: 2px solid #f5c542;
  border-radius: 18px;
  color: #eee;
}

h1 {
  text-align: center;
  color: #f5c542;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 25px;
  color: #bbb;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  background: #111;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

button {
  padding: 12px;
  background: linear-gradient(145deg, #f5c542, #ff9100);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
