<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El juego de la tabla</title>
    <link rel="stylesheet" href="../../css/tabla.css" />
    <!-- <style>
        table{
            width: 750px;
            height: 750px;
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    </style> -->
  </head>
  <body>
    <div id="movimientos">Movimientos: 0</div>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button>Arriba</button>
    <button>Derecha</button>
    <button>Abajo</button>
    <button>Izquierda</button>

    <a href="../../index.html" class="casino-back"> ⬅ Volver al Casino </a>

    <script src="../../js/tabla.js"></script>
  </body>
</html>
