.uno{
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    color: crimson;
    font-size: 20px;
    margin: 0 auto;
}
.dos{
    background-color: darkkhaki;
    border: 1px solid black;
    width: 300px;
    color: cyan;
    font-size: 30px;
    margin: 0 auto;
}